<app-header></app-header>

<!-- <app-back [title]="'Terms'"></app-back> -->

<div class="content1">
    <mat-card>
        <mat-card-content>

            <h1>Terms of Service</h1>

            <p>This User Agreement (the “Agreement”) govern your use of Manish Software (“Platform”), including all the
                features,
                apps,
                websites, technologies, and software we offer (“Services”). By using the Services, you agree to be bound
                by
                the
                Agreement. Please take the time to read them carefully.</p>

            <h2>User of the Services</h2>

            <p>You must be at least 13 years old to use the Service. If you are using the Service on behalf of a
                company,
                organization or other legal entity, you represent and warrant that you have the authority to bind such
                entity to
                the Agreement.</p>

            <h2>
                Posting Content</h2>
            <p>
                Manish Software is building a community where people can get closer to each other. We expect our users
                to
                express
                themselves and share content responsibly on the Platform.
                You shall not post, upload, transmit, or share any information that:
            </p>

            <ul>
                <li>
                    Violates the Agreement, Community Guidelines and other terms and policies that apply to your use of
                    the
                    Platform.</li>
                <li>Is unlawful, discriminatory, fraudulent, harassing, or otherwise grossly harmful;</li>
                <li>harm minors in any way.</li>
                <li>
                    Infringes or violates someone else’s right, including but not limited to patent, trademark,
                    copyright or
                    other proprietary rights.
                </li>
            </ul>

            <p>
                We will remove any content we find in violation of the above, we may also terminate your account for
                severe
                violation.
            </p>
            <h2>
                Content on the Platform
            </h2>
            <p>
                Any user content will be considered non-confidential and non-proprietary.
                You shall be solely responsible for your own content and the consequences of submitting and publishing
                your
                content on the Services.
            </p>

            <p>
                We do not endorse any content submitted to the Services by any user or any opinion, recommendation, or
                advice
                expressed therein, any use or reliance on any content obtained through the Service is at your own risk.
                Any
                views
                and opinions expressed by users on the Platform do not necessarily reflect the policy or position of the
                Platform.
            </p>
            <p>
                We reserve the right to remove content that violates The Agreement, Community Guidelines and other
                policies
                that
                apply to your use of the Service.
            </p>
            <h2>
                Rights of the Content</h2>

            <p>
                You retain all ownership rights in the content you post and share on the Platform, and nothing in the
                Agreement
                restrain the rights you have to your own content. In consideration of providing the Service, when you
                post
                or
                share content that is protected by intellectual property rights, you hereby grant us an unconditional,
                irrevocable, non-exclusive, royalty-free, fully transferable, assignable, sub-licensable, perpetual
                worldwide
                license to host, use, modify, translate, adapt, reproduce, make derivative works of, publish and/or
                transmit
                your
                content. including but not limited to advertising, marketing and promoting and redistributing part or
                all of
                the
                Services (and derivative works thereof) in any formats and through any channels.
            </p>

            <p>
                When you post your content through the Service, you agree and represent that you own that content or you
                have
                received permission from the owner of any part of the content submitted to the Services.
            </p>

            <h2>
                Use of the Service
            </h2>

            <p>
                The features of our Services may change from time to time, at our own discretion, including but not
                limited
                to:
                increasing or removing any feature within the Service, restraining you or users generally from accessing
                certain
                features, removing or refusing to distribute any content on the Platform.
            </p>
            <p>
                In consideration of providing you the Services, you agree that we and our partners may place advertising
                on
                the
                Services or in connection with the display of content or information from the Services whether submitted
                by
                you or
                others.
            </p>

            <h2>
                You may not:
            </h2>
            <ul>
                <li>
                    Modify, adapt, translate, reverse engineer, disassemble, decompile or create any derivative works
                    based
                    on the
                    Services, including any files, tables or documentation (or any portion thereof) or determine or
                    attempt
                    to
                    determine any source code, algorithms, methods or techniques embodied the Platform or any derivative
                    works
                    thereof.
                </li>
                <li>
                    Distribute, license, transfer or sell, in whole or in part, any of the Services or any derivative
                    works
                    thereof.
                </li>

                <li>
                    Market, rent or lease the Services for a fee or charge, or use the Platform to advertise or perform
                    any
                    commercial solicitation.
                </li>
                <li>
                    Interfere with or attempt to interfere with the proper working of the Services, disrupt our website
                    or
                    any
                    networks connected to the Services, or bypass any measures we may use to prevent or restrict access
                    to
                    the
                    Services.
                </li>

                <li>
                    Incorporate the Platform or any portion thereof into any other program or product.
                </li>
                <li>
                    Use automated scripts to collect information from or otherwise interact with the Services.
                </li>
                <li>
                    use or attempt to use another’s account, service or system without authorization from the user, or
                    create a
                    false identity on the Services.
                </li>

                <li>
                    use the Services to upload, transmit, distribute, store or otherwise make available in any way files
                    that
                    contain viruses, trojans, worms, logic bombs or other material that is malicious or technologically
                    harmful.
                </li>
            </ul>
            <p>
                We reserve the right, at any time and without prior notice, to remove or disable access to content at
                our
                discretion for any reason. Some of the reasons we may remove or disable access to content may include
                finding the
                content objectionable, in violation of The Agreement, or otherwise harmful to the Services or our users.
            </p>

            <h2>
                Limitation of liability
            </h2>
            <p>
                We are trying hard to bring you the best service and maintain a friendly community on the Platform.
                HOWEVER,
                THE
                SERVICES ARE PROVIDED “AS IS” AND WE MAKE NO WARRANTY OR REPRESENTATION TO YOU THAT THEY WILL ALWAYS BE
                SAFE,
                SECURE, ERROR-FREE, UNDISRUPTED.
            </p>

            <p>
                We do not control what users do or say on the Platform, and we are not responsible for their actions or
                conduct
                (whether online or offline) or any content they share.
            </p>
            <p>
                OUR LIABILITY SHALL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, AND UNDER NO
                CIRCUMSTANCE
                WILL
                WE BE LIABLE TO YOU FOR ANY LOST PROFITS, REVENUES, INFORMATION, OR DATA, OR CONSEQUENTIAL, SPECIAL,
                INDIRECT,
                EXEMPLARY, PUNITIVE, OR INCIDENTAL DAMAGES ARISING OUT OF OR RELATED TO THE AGREEMENT.
            </p>

            <h2>Other Terms
            </h2>

            <h3>Changes of the terms</h3>
            <p>

                We amend the terms of the Agreement from time to time, for instance when we update the functionality of
                our
                Services or when there are regulatory changes. We will use commercially reasonable efforts to generally
                notify all
                users of any material changes to the Agreement, such as through a notice on our Platform. If you do not
                agree to
                the new terms, you must stop accessing or using the Services.
            </p>

            <h3>Suspension or termination account</h3>

            <p>
                To access or use some of our Services, you must create an account with us. You agree that you are solely
                responsible for the activity that occurs under your account.
                We reserve the right to suspend or disable your user account at any time if in our reasonable opinion
                you
                have
                failed to comply with any of the provisions of the Agreement.
            </p>

            <h3>Applicable Law and Jurisdiction </h3>

            <p>
                The Agreement, their subject matter, and their formation are governed by the laws. Any dispute
                arising
                out of or in connection with the Agreement, including any question regarding existence, validity or
                termination of
                the Agreement, shall be referred to courts of Delhi.
            </p>

            <h3>Parental Consent</h3>

            <p>
                In addition, if you are under the age of 18, you confirm that you possess legal parental or guardian
                consent
                for
                accessing or using the Platform, and are fully able and competent to enter into, abide by, and comply
                with
                the
                Agreement.
            </p>
            <h3>No Waiver</h3>
            <p>
                Our failure to insist upon or enforce any provision of the Agreement shall not be construed as a waiver
                of
                any
                provision or right.
            </p>
            <p>
                If any court of law, having jurisdiction to decide on this matter, rules that any provision of the
                Agreement
                is
                invalid, then that provision will be removed from the Agreement without affecting the rest of the
                Agreement,
                and
                the remaining provisions of the Agreement will continue to be valid and enforceable.
            </p>
            <h2>
                Contact
            </h2>
            <p>
                You can reach us at <a class="link" href="mailto:team@manishsoftware.com"
                    target="_blank">team@manishsoftware.com</a>.
            </p>
        </mat-card-content>
    </mat-card>
</div>

<app-footer></app-footer>