<mat-card class="mat-elevation-z0">
    <mat-card-content class="light text-center">

        <a class="footer-item margin-left-0" href="https://manishsoftware.com/">Mobile Application Development</a> /
        <a class="footer-item" href="https://manishsoftware.com/web-design/">Web Design</a> /
        <a class="footer-item" href="https://manishsoftware.com/seo/">Search Engine Optimization (SEO)</a>
    </mat-card-content>
</mat-card>
<mat-card class="mat-elevation-z0">
    <mat-card-content class="light text-center">

        <a class="footer-item margin-left-0" rel="noopener" href="https://blog.manishsoftware.com"
            target="_blank">Blog</a> / <a class="footer-item" rel="noopener"
            href="https://www.facebook.com/manishsoftware" target="_blank">Facebook</a> / <a class="footer-item"
            rel="noopener" href="https://github.com/manish-software" target="_blank">GitHub</a> / <a class="footer-item"
            rel="noopener" href="https://www.youtube.com/channel/UCKCeNxmfzygBChzvm55mThQ" target="_blank">YouTube</a> /
        <a class="footer-item" rel="noopener" href="https://www.instagram.com/manishsoftware/"
            target="_blank">Instagram</a> / <a class="footer-item" rel="noopener"
            href="https://www.linkedin.com/company/manishsoftware" target="_blank">LinkedIn</a> / <a class="footer-item"
            rel="noopener" href="https://twitter.com/manishsoftware_" target="_blank">Twitter</a> / <a
            class="footer-item" rel="noopener" href="https://g.dev/manishsoftware" target="_blank">Google Developers</a>
        / <a class="footer-item" rel="noopener" href="https://wa.me/message/L5WXALFTOQUHN1" target="_blank">WhatsApp</a>
        / <a class="footer-item" rel="noopener" href="https://forms.gle/Ub7joBMDnQ4Cj7tR9" target="_blank">Contact</a>

    </mat-card-content>
</mat-card>


<mat-card class="mat-elevation-z0">
    <mat-card-content class="light text-center">
        <span class="margin-right-8">140, Sector 43, Golf Course Road, Gurgaon, HR 122002</span> / <a
            class="footer-item" href="mailto:team@manishsoftware.com" target="_blank">team@manishsoftware.com</a> / <a
            class="footer-item" href="tel:+918826485123" target="_blank">+91 8826485123</a>
    </mat-card-content>
</mat-card>

<mat-card class="mat-elevation-z0">
    <mat-card-content class="light text-center">

        <span class="mute margin-right-8">&copy; Manish Software</span>
        <a class="footer-item" href="https://manishsoftware.com/privacy/">Privacy</a>
        <a class="footer-item" href="https://manishsoftware.com/terms/">Terms</a>

    </mat-card-content>
</mat-card>