<mat-toolbar>
    <mat-toolbar-row>
        <a href="https://manishsoftware.com/" mat-button class="title-center">
            <img alt="icon" class="icon" width="24" height="24"
                src="https://res.cloudinary.com/manish-software/image/upload/c_scale,w_128/v1630483566/website/manish-software-icon.webp">
            <img alt="logo" class="logo" width="71" height="24"
                src="https://storage.googleapis.com/manishsoftwareapp.appspot.com/assets/images/ms5.png">
        </a>
    </mat-toolbar-row>
</mat-toolbar>