<app-header class="top"></app-header>
<!-- <app-back [title]="'Privacy'"></app-back> -->
<div class="content1">
    <mat-card>
        <mat-card-content>
            <h1>Privacy Policy</h1>

            <p>
                Welcome to Manish Software (the “Platform”). We respect and are committed to protecting your privacy.
                This policy sets out the basis on which any personal data we collect from you, or that you provide to
                us,
                will be
                processed by us. Please read the following carefully to understand our views and practices regarding
                your
                personal
                data and how we will treat it. By accessing or using our website, services, applications, products and
                content
                (that include but are not limited to the Platform) (collectively, the “Services”), you are accepting and
                consenting to the practices described in this policy.
            </p>
            <h2>
                The Types of Personal Data We Use</h2>
            <p>We may collect and use the following information about you:</p>

            <h3>Information you give us</h3>
            <p> You may give us information about you by accessing or using our
                Services
                or by
                corresponding with us by phone, e-mail or otherwise. This includes information you provide when you
                register
                for
                and/or use the Platform, such as your customer profile, information about your device, your browsing
                records,
                the
                comments you make on our Platform, as well as account and billing details, including but not limited
                to,
                your
                Apple, Google or Windows account, PayPal or other third-party payment channel account where required
                for
                the
                purpose of paying or withdrawing cash. The information you give us may include your name, State ID
                number,
                address, email address, social media login details, telephone number, credit or debit card
                information.
                It also
                includes information that you give to us, such as a picture, video or other filetypes that you may
                choose to
                post
                on our Platform.
            </p>
            <h3>
                Information you choose to share from your social networks</h3>
            <p>
                If you choose to link the Platform
                to
                your
                social
                network or public forum account (such as Facebook or WeChat), you may provide us or allow your
                social
                network
                to
                provide us with information from your social network or public forum accounts. This data may include
                your use
                of
                the Platform on such public forums and/or social networks. For further information as to how and for
                what
                purpose
                the social network provider processes your data, please see their privacy policies.
            </p>

            <h3>
                Information we collect about you</h3>
            <p>
                We automatically collect certain data from you, including IP
                address or
                other
                unique device identifiers, Cookies (as defined below), mobile carrier, time zone and locale setting,
                mobile or
                device model, operating system and platform and information regarding your use of the Platform. We
                may
                also
                collect information about linking your contact or subscriber information with your activity across
                our
                Platform
                or
                by linking your activity on our Platform across all your devices using your email or social media
                log-in
                details.
            </p>
            <h3>
                Behavioral information we collect about you</h3>
            <p>
                We also collect information regarding your use of
                the
                Services, e.g.
                profiles and your presumed interests, alongside marketing information such as opt-ins and
                communication
                preferences. We collect engagement scores (“likes”, comments, repeated views) and relate users based
                on
                your
                behavior. Finally, we collect opt-ins and communication preferences.
            </p>
            <h3>
                Location data</h3>
            <p>
                When you use the Platform on a mobile device, we may process information about
                your
                location,
                including location information based on your SIM card, IP address or mobile device location
                settings,
                and if
                activated on your mobile device, by use of a Global Positioning System (GPS). We may use such
                information to
                provide you with location-basedservices, such as advertising and other personalized content. If you
                do
                not wish
                to
            </p>
            <h3>
                Metadata</h3>
            <p>
                When you upload a picture, video or other filetypes to the Platform (“User
                Content”),
                you
                automatically
                upload certain metadata that is connected to the User Content. In essence, metadata describes other
                data
                and
                provides information about your User Content that will not always be evident to the viewer. In
                connection with
                your file, the metadata can describe how, when and by whom the piece of User Content was collected
                and
                how that
                content is formatted. It further includes information such as your account name that enables other
                users
                to
                trace
                back the file to your user account. Metadata will further consist of additional data that you chose
                to
                provide
                with the User Content, e.g. any hashtags used to mark keywords to the post or comments.
            </p>
            <h3>
                Information from third parties</h3>
            <p>
                We may receive information if you use any of the other
                websites we
                operate
                or
                other Services we provide.
            </p>
            <h2>
                Cookies</h2>
            <p>
                We use cookies and other similar technologies (e.g. web beacons, Flash cookies, etc.) (“Cookies”) to
                enhance
                your
                experience using the Platform. Cookies are small files which, when placed on your device, enable us to
                provide
                certain features and functionality.
                We use the following Cookies:
            </p>
            <h3>Strictly Necessary Cookies</h3>
            <p>
                These are Cookies that are required for the operation of the
                Platform.
                They
                include,
                for example, Cookies that enable you to log into secure areas of the Platform.
            </p>

            <h3> Analytical/Performance Cookies</h3>
            <p>
                They allow us to recognize and count the number of visitors
                and
                to see
                how
                visitors move around the Platform when they are using it. This helps us to improve the way the
                Platform
                works,
                for
                example, by ensuring that users are finding what they are looking for easily.
            </p>
            <h3>
                Functionality Cookies</h3>
            <p>
                These are used to recognize you when you return to the Platform. This
                enables us
                to
                personalize our content for you, greet you by name and remember your preferences (for example, your
                choice of
                language or region).
            </p>
            <h3>
                Targeting Cookies</h3>
            <p>
                These Cookies record your visit to the Platform, the pages you have visited
                and
                the
                links you
                have followed. We will use this information to make the Platform and the advertising displayed on it
                more
                relevant
                to your interests. We may also share this information with third parties for this purpose.
                If for any reason you wish to not take advantage of Cookies, you may disable Cookies by changing the
                settings
                on
                your browser. However, if you do so, this will affect your enjoyment of the Platform and we will no
                longer be
                able
                to offer to you personalized content. Unless you opt out of Cookies, we will assume you consent to
                the
                use of
                “Do-not-track” signals are preferences that users can set on their web browser to limit how their
                activity is
                tracked across third-party websites or online services. The Platform does not respond to
                “do-not-track”
                signals
                in
                your web browser.
            </p>
            <h2>
                How We Use Your Personal Data
            </h2>
            <p>We will use the information we collect about you in the following ways:
            </p>
            <ul>
                <li>
                    To administer the Platform (i.e. to provide our Services to you) and for internal operations,
                    including
                    troubleshooting, data analysis, testing, research, statistical and survey purposes (i.e. to
                    guarantee
                    the
                    Platform’s stability and security) and to solicit your feedback.
                </li>
                <li>
                    To allow you to participate in interactive features of the Platform when you choose to do so.
                </li>
                <li>To personalize the content you receive and provide you with tailored content that will be of
                    interest to
                    you.
                </li>
                <li>To improve and develop our Platform and conduct product development.
                </li>
                <li>
                    To measure and understand the effectiveness of the advertising we serve to you and others.
                </li>
                <li>To provide you with services based on the country settings you have chosen, such as advertising and
                    other
                    content that is related to the country settings.
                </li>
                <li>To make suggestions and recommendations to you and other users of the Platform about goods or
                    services
                    that
                    will interest you or them.
                </li>
                <li>
                    To allow other users to identify you via the "Invite friends" function as a user of the Service, to
                    allow you
                    to
                    find other users and to connect with them on the Platform, and to support the socializing function
                    of
                    the
                    Services.
                </li>
                <li>
                    To provide you with your profile information to send to anyone you choose and to enable you to
                    participate on
                    the Platform and interact with other users.
                </li>
                <li>
                    To make your information available to other users in accordance with the privacy settings you chose
                    for
                    the
                    respective information.
                </li>
                <li>
                    To show you content that is similar to content you liked or interacted with (by commenting and/or
                    watching the
                    content), content from your region as well as content from users you follow.
                </li>
                <li>
                    To show you advertisements that are relevant to you.
                </li>
                <li>
                    To promote the Services and use information that you give to us, such as User Content that you can
                    choose to
                    post on our Platform, as part of our advertising and marketing campaigns to promote the Platform.
                </li>
                <li>
                    To help us detect abuse, fraud, and illegal activity on the Platform.
                </li>
                <li>
                    To notify you about changes to our Services;
                </li>
                <li>
                    To communicate with you.</li>
                <li>
                    To provide you with user support.</li>
                <li>
                    To enforce our terms, conditions, and policies.
                </li>
            </ul>
            <p>It is in our legitimate interests to promote the Platform, and by agreeing to comply with this policy you
                agree
                that we may use information that you give to us, such as User Content that you may choose to post on our
                Platform,
                as part of our advertising and marketing campaigns to promote the Platform.
            </p>
            <h2>How We Share Your Personal Data</h2>

            <p>
                We may share your personal data with selected third parties in or outside your country, including:
            </p>
            <ul>
                <li>
                    Our business partners so that we can make you special offers via the Platform.</li>
                <li>
                    With respect to on-screen ads, advertisers and advertising networks that require the data to select
                    and
                    serve
                    advertisements to you and others. We will not share your contact details with our business parties
                    so
                    they will
                    not contact you directly, but we will share other information so that they can make you offers
                    tailored
                    to your
                    requirements.</li>
                <li>Cloud Storage providers to store the information you provide and for disaster recovery services, as
                    well
                    as
                    for the performance of any contract we entered into with you
                    analytics and search engine providers that assist us in the improvement and optimization of the
                    Platform.</li>
                <li> IT service providers.</li>
                <li>
                    Our data center and the servers of our host providers.
                </li>
            </ul>
            <p>
                We may share your information with any member or affiliate of our group, which includes our
                subsidiaries,
                our
                ultimate holding company, and its subsidiaries, and companies that we control, are controlled or under
                common
                control, and our service providers and strategic business partners, and their respective subsidiaries,
                in
                each
                case in or outside your country, for the purposes set out above (<b>"How We Use Your Personal
                    Data”</b>).
                We may share your information with law enforcement agencies, public or tax authorities or other
                organizations if
                legally required to do so, or if we have a good faith belief that such use is reasonably necessary to:
            </p>
            <ul>
                <li>
                    Comply with a legal obligation, process or request (including tax and related reporting
                    requirements).
                </li>
                <li>Enforce our Terms of Service and other agreements, policies, and standards, including investigation
                    of
                    any
                    potential violation thereof.</li>
                <li> Detect, prevent or otherwise address security, fraud or technical issues; or</li>
                <li>Protect the rights, property or safety of us, our users, a third party or the public as required or
                    permitted
                    by law (including exchanging information with other companies and organizations for the purposes of
                    fraud
                    protection and credit risk reduction).

                </li>
            </ul>
            <p>We may also disclose your information to third parties:</p>
            <ul>
                <li>
                    In the event that we sell or buy any business or assets, in which case we may disclose your data to
                    the
                    prospective seller or buyer of such business or assets; or</li>
                <li>If we sell, buy, merge or partner with other companies or businesses, or sell some or all of our
                    assets.
                    In
                    such transactions, user information may be among the transferred assets.
                </li>
            </ul>
            <h2>The Security of Your Personal Data
            </h2>
            <p>
                We take steps to ensure that your information is treated securely and in accordance with this policy.
                Unfortunately, the transmission of information via the internet is not completely secure. Although we
                will
                do our
                best to protect your information, for example, by encryption, we cannot guarantee the security of your
                information
                transmitted through the Platform; any transmission is at your own risk.
            </p>
            <p>
                We have appropriate technical and organizational measures to ensure a level of security appropriate to
                the
                risk
                of
                varying likelihood and severity for the rights and freedoms of you and other users. We maintain these
                technical
                and organizational measures and will amend them from time to time to improve the overall security of our
                systems.

            </p>
            <p>
                We will, from time to time, include links to and from the websites of our partner networks, advertisers
                and
                affiliates. If you follow a link to any of these websites, please note that these websites have their
                own
                privacy
                policies and that we do not accept any responsibility or liability for these policies. Please check
                these
                policies
                before you submit any information to these websites.
            </p>
            <h2>Data Retention</h2>
            <p>We use the following criteria to determine the period for which we will keep your information:
            </p>
            <ul>
                <li>
                    our contractual obligations and rights in relation to the information involved.</li>
                <li>
                    legal obligation(s) under applicable law(s) and regulations to retain data for a certain period of
                    time;
                </li>
                <li> statute of limitations under applicable law(s);</li>
                <li>our legitimate business purposes; and</li>
                <li>disputes or potential disputes.
                </li>
            </ul>
            <p>
                We will not retain sensitive personal data or information for longer than is required for the purposes
                for
                which
                such information may be lawfully used or is otherwise required under any law for the time being in
                force.
            </p>
            <p>
                After you have terminated your use of our Services, we can store your information in an aggregated and
                anonymized
                format. Notwithstanding the foregoing, we can also retain any personal information as reasonably
                necessary
                to
                comply with our legal obligations, allow us to resolve and litigate disputes, and to enforce our
                agreements.
            </p>

            <h2>Information Relating to Children</h2>
            <p>
                The Platform is not directed at children under the age of 13. Users under the age of 13 are not allowed
                to
                use
                the
                Platform or register an account on the Platform. If we become aware that personal data has been
                collected
                from a
                person under the age of 13, we will delete this information and terminate the person’s account. If you
                believe
                that we may have personal data about or collected from a child under the age of 13, please contact us at
                <b>team@manishsoftware.com</b>.
            </p>

            <h2>Complaints</h2>
            <p> In the event that you wish to make a complaint about how we process your personal data, please contact
                us in
                the
                first instance at team@manishsoftware.com and we will endeavor to deal with your request as soon as
                possible.
                This
                is
                without prejudice to your right to launch a claim with your data protection authority or follow the
                dispute
                resolution process provided in the Terms of Service.
            </p>
            <h2>Changes</h2>
            <p> We will use commercially reasonable efforts to generally notify all users of any material changes to
                this
                policy,
                such as through a notice on our Platform, however, you should look at this policy regularly to check for
                such
                changes. Your continued access to or use of the Services after the date of the updated policy
                constitutes
                your
                acceptance of the updated policy. If you do not agree to the updated policy, you must stop accessing or
                using the
                Services.
            </p>

            <h2>
                Contact
            </h2>
            <p>
                Questions, comments, and requests regarding this policy are welcomed and should be addressed at email
                address of
                <a class="link" href="mailto:team@manishsoftware.com" target="_black">team@manishsoftware.com</a>.

            </p>
        </mat-card-content>
    </mat-card>
</div>

<app-footer></app-footer>